@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111a28;
  color: white;
  font-family: "Poppins", sans-serif;
}
span {
  color: #00cf5d;
}
button {
  color: white;
}
.bg-footer {
  background-color: #1d293a;
}
